/* Your CSS goes here! */

/* Decoration Block 1: Stylinh the body */
body {
    padding: 20px;
    background-color: #dd884f; /* Light background color */
    font-family: Arial, sans-serif; /* Change font style */
}


/* Decoration Block 2: Styling navigation bar links */
nav a {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #c80b54; 
}


/* Decoration Block 3: Styling section headers */
h1, h2 {
    color: #274a12; 
    text-align: center;
}
/* Decoration Block 4: Styling the table */
table.custom {
    width: 100%; 
    margin-bottom: 15px; /* Add some space below the table */
}


table.custom th {
    background-color: #4896ea; 
    color: rgb(8, 2, 2); 
    padding: 12px; 
    text-align: left; 
}


table.custom td {
    border: 2px solid #ac0707; 
    padding: 12px; 
}


/* Decoration Block 5: Styling the list */
ul.custom {
    list-style-type: square;
    padding-left: 30px;
    margin-bottom: 20px;
}

ul.custom li {
    margin-bottom: 10px;
    color: #080808;
}

ul.custom li a {
    color: #42199b;
}

ul li a:hover {
    color: #000000;
}

section {
    padding: 20px; 
    margin-bottom: 5px; 
    
    
}